@model DUBitirmeTezi.Models.Akademik.FakulteDetay

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_sayfaBaslik")


<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fakulte)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fakulte.FacultyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EducationName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EducationName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mission)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mission)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vision)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vision)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="AdminPanel">Back to List</a>
</div>
