@model IEnumerable<DUBitirmeTezi.Models.Duyurular>

@{
    ViewData["Title"] = "AdminPanel";
    Layout = "~/Views/Shared/_admin.cshtml";
}

<h1>AdminPanel</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DuyuruAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aciklama1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aciklama2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AktifMi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EklendigiTarih)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DuyuruAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aciklama1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aciklama2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AktifMi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EklendigiTarih)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
