@model IEnumerable<DUBitirmeTezi.Models.Akademik.YuksekokulDetay>

@{
    ViewData["Title"] = "YuksekokulDetay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_sayfaBaslik")
@Html.Partial("_yuksekokulDetay")



@*<div class="container">
    @foreach (var item in Model)
    {
        <h5 style="color:darkblue">@item.Yuksekokul.CollageName</h5>
        <br />

        <p>@item.Description1</p>
        <br />
        <p>@item.Description2</p>
        <br />
    }

</div>*@